<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>test</title>
</head>
<body>
  <main>
    <button type="button" id="subscribe">Следить за изменениями</button>
    <div id="tokken"></div>
  </main>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/firebasejs/3.6.8/firebase.js"></script>
  <script type="text/javascript" src="./firebase_subscribe.js"></script>
</body>
</html>
